name: Invite a new collaborator
on:
  issue_comment:
    types: [edited, created]

jobs:
  build:
    name: Invite contributor to the Org
    runs-on: ubuntu-latest     
    steps:
    - uses: actions/checkout@master
    - name: invite-contributor
      uses: bdougie/invite-based-on-comment@bdougie-patch-1
      env:
        TEAM_ID: 3490252
        ORG: 'github-craftwork'
